
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

header:before { clear:both; content:"."; display:block; height:0; visibility:hidden; }

body {
     font-size: 1em;
     line-height: 1.4;
     font-family: 'Source Sans Pro', sans-serif;
     background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}


#wrapper {
     width: 75%;
     max-width: 1100px;
     min-width: 800px;
     margin: 0px auto;
}

#columns {
     -webkit-column-count: 3;
     -webkit-column-gap: 10px;
     -webkit-column-fill: auto;
     -moz-column-count: 3;
     -moz-column-gap: 10px;
     -moz-column-fill: auto;
     column-count: 3;
     column-gap: 15px;
     column-fill: auto;
     width: 90%;
     margin: 0 auto;
}


.pin {
     display: inline-block;
     background: #FEFEFE;
     border: 2px solid #FAFAFA;
     box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
     margin: 0 2px 15px;
     -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
     column-break-inside: avoid;
     padding: 7px;
     padding-bottom: 5px;
     background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
     opacity: 1;
     
     -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
     transition: all .2s ease;
}

.pin img {
     width: 100%;
     border-bottom: 1px solid #ccc;
     padding-bottom: 15px;
     margin-bottom: 5px;
}

.pin p {
     font: 1em Raleway, serif;
     color: #333;
     margin: 0 auto;
}

.eat {
     border-bottom: 5px solid red;
}

.drink {
     border-bottom: 5px solid blue;
}

.chill {
     border-bottom: 5px solid orange;
}

.party {
     border-bottom: 5px solid green;
}


#columns:hover .pin:not(:hover) {
     opacity: 0.4;
}
.nav-em:hover {
     opacity: 0.8;
}


header{
     background: black;
     border-bottom: 5px #993300 solid;
     height: 20%;
}

header .nav-em{
     font-family: 'Merriweather', sans-serif;
     text-transform: uppercase;
}

header h1{
     padding: 10px;
     margin: 0 auto;
     text-align: center;
     color: white;
     font-family: 'Merriweather', serif;
}

nav ul li {
     display: inline;
     font-size: 1em;
     color: white;

}

a {
     text-decoration: none;
     color: white;
}

.table {
     display: table;   /* Allow the centering to work */
     margin: 0 auto;
}

h2{
     font-family: 'Merriweather', serif;
}

footer {
     background-color: black;
     color: white;
     padding: 5px 0 5px 5px;
     margin: 10px;
}

/******************************************
/* RESPONSIVE DESIGN - SCREEN SIZES                  
/*******************************************/

@media only screen and (min-width: 1100px) {
     #columns {
          -webkit-column-count: 5;
          -moz-column-count: 5;
          column-count: 5;
     }
}

@media only screen and (min-width: 768px) and (max-width: 1099px) {
     #columns {
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
     }

}


@media only screen and (max-width: 767px) {
     #columns {

          width: 100%;
     }

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




